/* ==========================================================================
   Author's custom styles
   ========================================================================== */


ul#images li {
    width: 300px;
    height: auto;
    display: inline-block;
    position: relative;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

ul#images li img {
    display: inline-block;
    width: 100%;
    height: auto;
}

ul#images li button {
    display: inline-block;
}

ul#images {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
}

ul#images .placeholder {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
}
.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
}

.image-title {
  color: #FF8811;
  font-size: 200%;
  font-weight: bold;
}

/*large circle copied as an idea, not implemented
#largeCircle {
    width: 456px;
    height: 296px;
    padding: 80px 0px 80px 0px;
    background: url('/gfx/backs/back_yellow.png') repeat;
    -moz-border-radius: 230px 230px 230px 230px;
    border-radius: 230px 230px 230px 230px;
    text-align: center;
    line-height: 140%;
    margin-bottom: 20px;
}
